@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Google Map - Code Test</h1>
    <br />
</div>

@{
    ViewData["Title"] = "My Google Map | 14.05.2020";
}

<h3>@ViewData["Title"]</h3>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<title>Places Searchbox</title>

<input id="pac-input" type="text" placeholder="Search...">
@*<input id="button1" value="Search" sstyle="margin-bottom:10px;" type="button" />*@
<h5 style="color: navy; font: BlinkMacSystemFont;">Enter your location and select from the list of drop downs...</h5>
<div id="map"></div>

@* I have now tidied up and put the static google map code in the js folder in wwwroot  *@
<script src="~/js/site.js"></script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCPybYfaJpmkgNZpZu9j1r0WU_Y6DvgvQ&libraries=places&callback=initAutocomplete"></script>


<footer>
    <p style="font-weight: bold; color:black; text-align: center;">© @DateTime.Now.ToLocalTime()</p> @*Add Date Time*@
</footer> 